<html>
<head>
	<title>Tutor / nav-bar</title>
	
	<link rel="stylesheet" type="text/css" href="../navbar/top-nav.css">
	
	<script src="../navbar/side-nav.js"></script>
</head>
<body>

<div class="nav-bar3">
			
			
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
  <img src="../Images/person.jpg" height="150px" style = "position:fixed; left: 40px; border-radius: 100px">
  <a href="../Edit_profile/edit.html"><img src="../Images/Edit1.png"  height="50px" style = "position:absolute"></a>
  
   <div class= "sidepanel">
   
  <a href="../About.html">About</a>
  <a href="../TermsandPolicy.html">Privacy and Policies</a>
  <a href="../Help.html">Help</a>
  
</div>

<img src="../Images/ED.png"  height="150" style = "position:fixed; left: 40px; margin-top: 250px">
</div>
<span style="font-size:50px;cursor:pointer; margin-left: 12px" onclick="openNav()">&#9776; </span>

			<img src="../Images/ED.png" height="70px" width="70px" style = "position:absolute; left: 50px; margin-top: 10px ">
				<div class="dropdown">
					<button class="dropbtn" style = "position:absolute; left: 0px"> Filter </button>
							<div class="dropdown-content">
							<a href="#">Medium</a>
							<a href="#">Subject</a>
							<a href="#">Grade</a>
						</div>	
					</div> 
			
			<input type="text" placeholder="  Search..." name="search" style = "position:absolute ;left:527px; color:black">

			<a href="../Tutor_enroll_class/enroll.html"><img class="image2" src="../Images/Groups.png"  height="50px" width="50px" style = "position:absolute; left: 1100px"></a>
			<a href=""><img class="image2" src="../Images/Calender.png"  height="50px" width="50px" style = "position:absolute; left: 1175px"></a>
			<a href="../Tutor_upload/Tutor-upload.html"><img  class="image2"src="../Images/Upload.png"  height="50px" width="50px" style = "position:absolute; left: 1250px"></a>
			<img src="../Images/Person.png"  height="50px" width="50px" style = "position:absolute; left: 1325px">
				<button class="logout-btn" style = "position:absolute; left: 1400px" onclick="window.location.href='../index.html'">
			Logout</button>	
			</div>
			
			
			</body>
			</html>