* {
    margin: 0;
    padding: 0;
  }
  
  /* Navigation bar */
  
  .topNavBar {
    position: sticky;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #162345;
    box-shadow: 5px 5px 30px rgba(14, 21, 77, 0.5);
    z-index: 10;
  }
  
  .coulmn1 {
    width: 20%;
    height: 100%;
    float: left;
  }
  
  .body {
    background-color: #f1f0eb;
  }
  
  .btn {
    background-color: white;
    border: none;
    color: #162345;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0px 20px 20px;
    border-radius: 5px;
    float: left;
  }
  
  .logo {
    width: 150px;
    margin: 16px 0px 10px 50px;
    float: left;
  }
  
  .coulmn2 {
    width: 62%;
    height: 100%;
    float: left;
  }
  
  .coulmn3 {
    width: 18%;
    height: 100%;
    float: left;
  }
  
 
  
  .topNavBar input[type="text"] {
    border-radius: 20px;
    font-size: 20px;
    height: 40px;
    margin-top: 20px;
    width: 300px;
    background-color: white;
    font-family: "Robota Slab Font";
  }
  
  .nav-btn {
    font-size: 25px;
    background: none;
    color: white;
    margin-top: 25px;
    margin-right: 50px;
    border-color: rgb(190, 190, 190);
    padding: 0px 3px 3px 3px;
    border-radius: 5px;
    border-width: 0px 0px 2px 0px;
    float: left;
  }
  
  .nav-btn2 {
    font-size: 40px;
    background: none;
    color: white;
    margin-top: 12px;
    border-color: rgb(190, 190, 190);
    padding: 0px 3px 3px 3px;
    border-radius: 5px;
    border-width: 0px 0px 2px 0px;
    float:left;
    margin-left: 20px;
  }
  
  
  .logOut {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #efefef;
    margin: 20px 0px 20px 40px;
    background-color: #162345;
  }
  
  .profileEdit {
    position: absolute;
    height: 400px;
    width: 250px;
    border-width: 2px;
    background-color: #c5b994;
    border-radius: 20px;
    float: left;
    z-index: 12;
    top: 60px;
    right: 0px;
  }
  
  
  .main-ctn {
    height: 1500px;
    width: 100%;
    background-color: #fffdfa;
  }
  
  .hidden {
    display: none;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fffdfa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-color: rgb(44, 44, 44);
    border: 2px;
    box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
  }
  
  .sidepanel {
    position: relative;
    font-family: 'Exo';
    color: white;
    font-size: 20px;
    height: 60px;
  
    display: block;
    text-align: center;
    margin-top: 130px;
    padding-top: 60px;
  }
  .sidenav img {
    border-radius: 100px;
  }
  .sidenav a {
    text-align: center;
    padding-bottom: 15px;
    text-decoration: none;
    font-size: 25px;
    color: #162345;
    font-weight: 700;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:#79ebe7;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .dropbtn2 {
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-family: 'Exo';
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    border: 1px #fffdfa solid;
    margin-top: 20px;
    margin-left: 30px;
    position: relative;
   
    background: rgb(53, 65, 97);
    background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
    box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
      0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
      0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
      0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
  }
  
  .dropbtn2:hover {
  
    background:#79ebe7;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
      0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
      0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
      0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
      color: #162345;
  }
  
  .sidelogo{
   margin-left: 40px;
    width: 200px;
  }
  
  
  .edutorlogo
  {
      margin-left: 350px;
    width: 200px;
    margin-top: 10px;
  }
  
  