#message {
    display:none;
    background: white;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 450px;
    height: 110px;
  }
  
  #message p {
    font-size: 12px;
    text-align: center;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(25, 180, 25);
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    /* content: "&#10004;"; */
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    /* content: "&#10006;"; */
  }

  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 100px; /* Should be removed. Only for demonstration */
  }
