.main 
{
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 900px;
	background-size: cover;
	z-index: 1;
}

.heading
{
	color:black;
	font-size:50px;
	height: 80px;
	background: rgb(242,243,250);
	background: radial-gradient(circle, rgba(242,243,250,1) 0%, rgba(239,226,186,1) 100%);;
	display:block;
	text-align:center;
}



.bar-btn {
	height:100px;
	width: 70px;
	background-color: white;
}


.editform
{
	text-align:left;
	font-family: "Robota Slab Font";
	padding: 100px;
	height:600px;
	width: 520px;
	background: rgb(242,243,250);
	background: radial-gradient(circle, rgba(242,243,250,1) 0%, rgba(239,226,186,1) 100%);
	border-radius: 50px;
	font-size: 25px;
}

input
{
	border: 2px solid blue;
	margin:3px 5px;
	border-radius: 4px;
	height:30px;
}

label
{
	width:150px;
	display:inline-block;
}

.save
{
	height: 50px;
	width: 100px;
	color: white;
	background-color: #0f0f47;
	border-radius: 20px;
	font-family: "Robota Slab Font";  
	font-size: 16px;
}

.reset
{
	height: 50px;
	width: 100px;
	color: white;
	background-color: #0f0f47;
	border-radius: 20px;
	font-family: "Robota Slab Font";  
	font-size: 16px;
}

.save:hover
{
	 color:black;
	background-color: white;
}

.reset:hover
{
	color:black;
	background-color: white;
}

.socialmedia:hover
{
	color:black;
	background-color: white;
}

li a:hover {
	text-decoration: underline;
	color:black;
}














