<html>
<head>
	<title>Edutor/edirprofile</title>
	<link rel="stylesheet" type="text/css" href="edit.css">
	<link rel="stylesheet" type="text/css" href="../footer/footer.css">
</head>
<body>
	<div class="main">
		<div class="heading">
		 Edit Profile
		 <img  src="edit1.png" height="80px" width="80px" align="center">
		</div>
		<br/>		
		<form>
		<center>
		<div class="editform">
		<img  src="edit2.png" height="80px" width="80px" style = "position:relative; left:220"><br/><br/>
		<label for="firstname" >First Name</label>
		<input type="text" size="40"<br /><br/><br/>
		
		<label for="lastname">Last Name</label>
		<input type="text" size="40"><br /><br/>
		
		<label for="address">Address</label>
		<input type="text" size="40"></br/><br/>
		
		<label for="gender">Gender</label>		
		<input type="text" size="40"><br/><br/>
		
		<label for="dob">Date of Birth</label>		
		<input type="date" ><br/><br/>
	
		
		<label for="phoneno">Phone No</label>
		<input type="text" size="40" ><br /><br/>
		
		<label for="Degree name">Degree Name</label>
		<input type="text" size="40" ><br /><br/>
		
		<a href="signup"><button type="submit" class="save" style = "position:relative; left:300px">Save</button></a>
		<a href="reset"><button type="reset" class="reset" style = "position:relative; left:50px">Reset</button></a>
                <<button  class="reset" onclick=window.location.href='Signup/schoolsigin.html' style = "position:relative; left:200px">Delete</button></a>
       
		</div>
		</center>
		<form/>
		<br/>
		<div class="footer-bar" >
			<ul>
				<li><a href="../About.html" style = "position:relative; left:50px">About us</a></li>
				<li><a href="../Help.html" style = "position:relative; left:50px" >Help</a></li>
				<li><a href="../TermsandConditions.html" style = "position:relative; left:50px">Terms and Conditions</a></li>	
		  </ul>
		  <a href="facebook"><img  src="../images/facebook2.png" width="40" height="40" style = "position:relative; left:1350px "></a>
		  <a href="facebook"><img  src="../images/twitter1.png" width="40" height="40" style = "position:relative; left:1350px"></a>
		  <a href="facebook"><img  src="../images/email1.png" width="40" height="40" style = "position:relative; left:1350px"></a>	
		  </div>
		
</body>	
</html>