
.main4
{
	background-image: url("../Images/LgBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    z-index: 1;
}


body {
  margin: 0px;
  font-family: "Exo";
}

.terms{
  margin-top: 50px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #162345;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color:#d8a60f;
}

.profileform
{
	text-align:left;
	font-family: "Exo";
	padding: 50px;
	height:400px;
	width: 400px;
	background-color:#fffdfa;
	border-radius: 20px;
  
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );

	font-size: 25px;
	align-items: center;
	margin-top: 60px;
}



input
{
	border: 2px solid black;
	margin:3px 5px;
	border-radius: 4px;
	height:30px;
}

label
{
	width:150px;
	display:inline-block;
}


.prof-btn {
	font-size: 30px;
	background: none;
	color: #162345;
	margin-top: 12px;
	border-style: none;
	cursor: pointer;
	float:center;
	
  }

.socialmedia:hover
{
	color:black;
	background-color: white;
}

li a:hover {
	text-decoration: underline;
	color:black;
}

small {
	font-size: 12px;
	
}

.rowr {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
	justify-content: center;
  }

.flexbox {

	display: flex;
	flex-wrap: nowrap;
  
  }


  th {
    font-size: 40px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
  }

  td{
font-size: 20px;
text-align: left;
padding-bottom: 8px;
padding-left: 40px;
width: 100px;
  }

  .columni {
	float: right;
	width: 25%;
	border-radius: 30px;
	text-align: left;
	height: 100px;
  }
  
  .columnr {
	float: left;
	width: 53%;
	border-radius: 30px;
	text-align: right;
	height: 100px;
  }
  
  .row:after {
	content: "";
	display: table;
  }

  .Answer-form {
    width: 500px;
    height: 550px;
    text-align: center;
    background-color:#fffdfa;
    border-radius: 20px;
    box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
    margin-top: 90px;
    margin-left: 500px;
    z-index: 3;
  }

  .signup-form {
	width: 500px;
	height: 500px;
	text-align: center;
	background-color:#fffdfa;
	border-radius: 20px;
  
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
	margin-top: 180px;
	margin-left: 500px;
	z-index: 3;
  }

  .hidden {
	display: none;
  }
  
  .overlay6 {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgb(36, 36, 36, 0.5);
	height: 100%;
	width: 100%;
	z-index: 2;
  }
