.main 
{
	background-image: url("../Images/Sign_back.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1300px;
	z-index: 1;	
}

.signin-btn {
	height: 50px;
	width: 100px;
	color: white;
	background-color: #0f0f47;
	border-radius: 20px;
	font-family: 'Exo';
	font-size: 16px;
}

.signup-btn {
	height: 50px;
	width: 100px;
	color: white;
	background-color: #0f0f47;
	border-radius: 20px;
	font-family: 'Exo';
	font-size: 16px;
}


.singinform
{

	margin-top: 60px;
	padding: 50px;
	margin: 20px 50px;
	background-color:#fffdfa;
	border-radius: 20px;
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
	text-align:left;
	font-family: 'Exo';
	height:1000px;
	width: 520px;
	font-size: 18sspx;
	color:#162345;
	margin-top: 5px;
}

input
{
	border: 2px solid #162345;
	font-family: 'Exo';
	margin:3px 5px;
	border-radius: 4px;
	height:30px;
	font-weight: 800;
}

label
{
	width:150px;
	display:inline-block;
	color:#162345;
	font-weight: 800;
}

.signup
{
	width: 120px;
	height: 40px;
	cursor: pointer;
	font-family:'Exo';
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	float:center;
	color: white;
	border: 1px  #fffdfa solid;
  
	
	background: rgb(53, 65, 97);
	background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
	box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
	  0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
	  0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
	  0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
}

.reset
{  
	  width: 120px;
	height: 40px;
	cursor: pointer;
	font-family:'Exo';
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	float:center;
	color: white;
	border: 1px  #fffdfa solid;
  
	
	background: rgb(53, 65, 97);
	background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
	box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
	  0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
	  0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
	  0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;

}



.signup:hover
{
	background:#79ebe7;
	box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
	  0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
	  0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
	  0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
	  color: #162345;
}

.reset:hover
{
	background:#79ebe7;
	box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
	  0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
	  0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
	  0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
	  color: #162345;
}
.smallbar
{
  	position:relative;
  	text-align: center;
  	font-size: 30px;
 	color: black;
  	top:0;
  	left: 0;
	right: 0;
  	height: 50px;
 	background-color: #efe2ba;
 	display:block;	
	 border-radius: 10px;
}











