.main
{
background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	height:700px;
	background-size: cover;
	z-index: 1;
  font-family: "Exo";
}
.Tutorclass {

  display: flex;
  flex-wrap: nowrap;

}

.Tutorclass > div {
  background-color:#fffdfa;
	border-radius: 20px;
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
  width: 300px;
  height: 600px;
  margin: 40px;
  text-align: center;
  line-height:30px;
  font-size: 15px;
}


.Tutorclass .fileupload{

  height:80px;
  width: 900px;
  margin-top: 40px;
  padding: 0 6px;
  Position: relative;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin-left: 100px;
  background-color:#bac6e4;
  text-align: center;
  font-family: "Exo";

}

.Tutorclass .fileupload input[type=file]{

	padding: 8px;
	border-radius:15px;
	font-size:20px;
	height:50px;
	width:250px;
	margin-bottom: 15px;
	text-align: center;
    margin-top: 10px;
    font-family: "Exo";
}

.Tutorclass input[type=text] 
{
	padding: 8px;	
	font-size:20px;
	height:40px;
	width:200px;
	margin-bottom: 15px;
	text-align: center;
    margin-top: 20px;
    font-family: "Exo";
}





.Tutorclass .Cancel-btn{

	padding: 6px;
	border-radius:15px;
	font-size:30px;
	height:50px;
	width:150px;
	background-color: #162345;
	text-align: center;
  margin-top: -50px;
  margin-left: 900px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;  
}



#mp_t tr {
	padding:5px ;
	text-align: center;
	font-size:15px ;
	color: #162345;
  width: 300px
  }
  
  #mp_t tr:nth-child(even){background-color: #f2f2f2;}
	
  #mp_t tr:hover {
	background:#79ebe7;
	box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
	  0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
	  0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
	  0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
	  color: #162345;
	
  }
  
  #mp_t th {
	font-size: 18px;
	padding: 12px;
	text-align: center;
  background-color: #00C6C1;
	color: #162345;
  width: 240px;
	
  }

.subjects {
	height: 40px;
	width: 80px;
	color:white;
	background-color: #162345;
	border-radius: 15px;
	font-family: "Robota Slab Font";  
	font-size: 20px;
	margin-top: 30px;
	margin-right: 20px;
	position: relative;
}

.subjects:hover
{
	color:black;
	background-color: #d8a60f;
}

h1{
  margin-top: 20px;
}


.Tutorclass h1{

  text-align: center;
  size: 70px;
  
    }
    .Tutorclass textarea{
  font-size: 20px;
    }

    .upload-btn {
      width: 120px;
      height: 40px;
      cursor: pointer;
      font-family:'Exo';
      font-size: 15px;
      font-weight: 600;
      border-radius: 10px;
      color: white;
      border: 1px  #fffdfa solid;
      
      background: rgb(53, 65, 97);
      background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
      box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
        0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
        0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
        0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
    }
    
    .upload-btn:hover
    {
      background:#79ebe7;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
    0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
    0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
    0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
    color: #162345;
    }



    
    .delete-btn {
      height: 50px;
  width: 100px;
  color: white;
  font-weight: 550;
  background-color: #0f0f47;
  border-radius: 20px;
  font-family: "Robota Slab Font";
  font-size: 16px;
  transition: 0.5s;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
    0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
    0 0.2rem 0.2rem rgba(255, 255, 255, 1) inset,
    0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
    }





    .delete-btn:hover
{
  background-color: #d8a60f;
  color: black;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
    0 -0.25rem 1rem rgb(175, 134, 12) inset,
    0 0.2rem 0.2rem rgba(255, 255, 255, 1) inset,
    0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
}




