.main 
{
	
	background-repeat: no-repeat;
	background-position: center;
	height: 800px;
	background-size: cover;
	z-index: 1;

}

body {
  font-family: "Exo";
  
}

.column {
  float: left;
  width: 15%;
  border-radius: 30px;
  height: 100px;
  text-align: right;
  
}

.columni {
  float: left;
  width: 25%;
  border-radius: 30px;
  text-align: left;
  height: 100px;
}

.columnr {
  float: left;
  width: 60%;
  border-radius: 30px;
  text-align: right;
  height: 100px;
}

.row:after {
  content: "";
  display: table;
}

#art{
  background-color:#d8e3fa;
}

.leftside {
  height: 60%;
  width: 70%;
  position:absolute;
  z-index: 1;
 
  overflow-x: hidden;
  padding: 20px;
  margin-top: 100px;
  margin-left: 180px;
  background-color:#d8e3fa;
	border-radius: 20px;
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
}

/* .rightside {
  height: 60%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top:120;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 70px;
  right:50px;

} */


h3,h1 {
  color:darkslateblue;
  
}



.classform
{
	text-align:left;
	padding: 50px;
	height:250px;
	width: 300px;
	background-color:#fffdfa;
	border-radius: 20px;
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
	font-size: 20px;
	align-items: center;
	margin-top: 200px;

    color: #162345;


}

input
{
	border: 2px solid black;
	margin:3px 5px;
	border-radius: 4px;
	height:30px;
}

textarea{
  font-size: 20px;
}


.save
{
	width: 120px;
  height: 40px;
  cursor: pointer;
  font-family:'Exo';
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  border: 1px  #fffdfa solid;
  background: rgb(53, 65, 97);
  background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
    0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
    0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
    0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
	
}

.save2
{
	width: 80px;
  height: 30px;
  cursor: pointer;
  font-family:'Exo';
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  border: 1px  #fffdfa solid;
  background: rgb(53, 65, 97);
  background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
    0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
    0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
    0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
	
}

.save:hover
{
	background:#79ebe7;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
    0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
    0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
    0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
    color: #162345;
}

#mp_t tr {
 padding: 5px;
	text-align: center;
	font-size:25px ;
	color: #162345;

  }
  

	
  #mp_t tr:hover {
	background:#79ebe7;
	box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
	  0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
	  0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
	  0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
	  color: #162345;
	
  }
  
  #mp_t th {
	font-size: 30px;
	padding: 12px;
	text-align: center;
  background-color: #00C6C1;
	color: #162345;
	
  }


  .nav-btno {
    font-size: 25px;
    background: none;
    color: royalblue;
    border-color: rgb(230, 229, 229);
    padding: 0px 3px 3px 3px;
    border-radius: 5px;
    border-width: 0px 0px 2px 0px;
   
  }

  .Answer-form {
    width: 500px;
    height: 550px;
    text-align: center;
    background-color:#fffdfa;
    border-radius: 20px;
    box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
    margin-top: 90px;
    margin-left: 500px;
    z-index: 3;
  }
  
  .hidden {
    display: none;
  }
  
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(36, 36, 36, 0.5);
    height: 100%;
    width: 100%;
    z-index: 2;
  }

.overlay3 {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(36, 36, 36, 0.5);
  height: 100%;
  width: 100%;
  z-index: 2;
}

  
  .open-btn {
    
    cursor: pointer;

    font-size: 25px;
    background: none;
    color: royalblue;
    border-color: rgb(230, 229, 229);
    padding: 0px 3px 3px 3px;
    border-radius: 5px;
    border-width: 0px 0px 2px 0px;
  }
  .popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.575);
    height: 100vh;
    width: 100%;
    position: absolute;
  }
  .main-popup {
    position: absolute;
    
    height: 500px;
    width: 50%;
    z-index: 1;
    background-color:#fffdfa;
    border-radius: 20px;
    box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
    padding: 30px 20px;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
  }
  .close-btn {
    border: .6px solid white;
    padding: 10px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease all;
  }
  .close-btn:hover {
    background: white;
  }
  .popup-content  {
    text-align: center;
  }
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }


