* {
  margin: 0;
  padding: 0;
}

/* Navigation bar */

.topNavBar {
  position: sticky;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #efe2ba;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.coulmn1 {
  width: 20%;
  height: 100%;
  float: left;
}

.btn {
  background-color: #162345;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0px 20px 20px;
  border-radius: 5px;
  float: left;
}

.logo {
  width: 50px;
  margin: 10px 0px 10px 50px;
  float: left;
}

.coulmn2 {
  width: 40%;
  height: 100%;
  float: left;
}

.coulmn3 {
  width: 20%;
  height: 100%;
  float: left;
}

.dropdown {
  position: fixed;
  display: inline-block;
  border-radius: 15px;
}
.dropbtn {
  position: fixed;
  background-color: #ffffff;
  color: #162345;
  font-size: 20px;
  border-radius: 15px;
  font-family: "Robota Slab Font";
  height: 40px;
  width: 100px;
  margin-top: 20px;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #ffffff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0px 0px 15px 15px;
  margin-top: 60px;
}
.dropdown-content a {
  color: #162345;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Robota Slab Font";
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #efe2ba;
  border-radius: 0px 0px 15px 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
}

.topNavBar input[type="text"] {
  border-radius: 20px;
  font-size: 20px;
  height: 40px;
  margin-top: 20px;
  width: 300px;
  background-color: white;
  font-family: "Robota Slab Font";
}

.nav-btn {
  font-size: 25px;
  background: none;
  color: #162345;
  margin-top: 20px;
  margin-right: 50px;
  border-color: rgb(190, 190, 190);
  padding: 0px 3px 3px 3px;
  border-radius: 5px;
  border-width: 0px 0px 2px 0px;
}
.coulmn4 {
  width: 10%;
  height: 100%;
  float: left;
}
.profileImg {
  background-image: url(../Images/ProfileIMG.png);
  width: 60px;
  height: 60px;
  margin: 10px 0px 0px 60px;
  float: right;
}



.logOut {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  color: #162345;
  margin: 20px 0px 20px 40px;
}
/*-------------------*/

.profileEdit {
  position: absolute;
  height: 400px;
  width: 250px;
  border-width: 2px;
  background-color: #c5b994;
  border-radius: 20px;
  float: left;
  z-index: 12;
  top: 60px;
  right: 0px;
}

/*-------------------*/
.main-ctn {
  height: 1500px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.hidden {
  display: none;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #efe2ba;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-color: rgb(44, 44, 44);
  border: 2px;
}

.sidepanel {
  position: relative;
  font-family: "Robota Slab Font";
  color: white;
  font-size: 20px;
  height: 60px;

  display: block;
  text-align: center;
  margin-top: 130px;
  padding-top: 60px;
}
.sidenav img {
  border-radius: 100px;
}
.sidenav a {
  text-align: center;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 25px;
  color: #d8a60f;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #162345;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
