.main 
{ background-image: url("../Images/LgBack.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 900px;
	z-index: 1;
}



.signin-btn {
	height: 50px;
	width: 100px;
	color: white;
	background-color: #162345;
	border-radius: 20px;
	font-family: "Robota Slab Font";
	font-size: 16px;
}


.singinform
{
	text-align:left;
	margin-top: 80px;
	font-family: "Robota Slab Font";
	padding: 20px;
	height:400px;
	width: 650px;
	background: rgb(242,243,250);
	background: radial-gradient(circle, rgba(242,243,250,1) 0%, rgba(239,226,186,1) 100%);
 	border-radius: 50px;
	font-size: 25px;
	color: black;
}

input
{
	border: 2px solid black;
	margin:3px 5px;
	border-radius: 4px;
	height:30px;
}

label
{
	width:150px;
	display:inline-block;
}

.enter-btn
{
	height: 50px;
	width: 100px;
	color: white;
	background-color: #162345;
	border-radius: 20px;
	font-family: "Robota Slab Font";
	font-size: 16px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 50%;
}

li a {
  margin-right:80px;
  float: left;
  margin-top: 15px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.signin-btn:hover 
{
	color:black;
	background-color:#d8a60f;
}

.signup-btn:hover 
{
	color:black;
	background-color: white;
}


.enter-btn:hover
{
	 color:black;
	background-color: #d8a60f;
}

.socialmedia:hover
{
	color:black;
	background-color: white;
}

li a:hover {
	text-decoration: underline;
	color:black;
}














