.main2{
    background-image: url("../Images/LgBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    z-index: 1;
  }
  .main3{
    background-image: url("../Images/LgBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1800px;
    z-index: 1;
  }


.bar-btn {
	height:100px;
	width: 70px;
	background-color: white;
}


.editform
{
	margin-top: 60px;
	padding: 50px;
	width: 500px;
	height: 600px;
	margin: 20px 50px;
	background-color:#fffdfa;
	border-radius: 20px;
  
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
	font-size: 25px;
	align-items: center;
	margin-top: 80px;
	margin-left: 480px;
}

.attachform
{
	margin-top: 60px;
	padding: 50px;
	width: 400px;
	height: 300px;
	margin: 20px 50px;
	background-color:#fffdfa;
	border-radius: 20px;
  
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
	font-size: 25px;
	align-items: center;
	margin-top: 200px;
	margin-left: 110px;
}
.attachform1
{
	
	padding: 50px;
	width: 400px;
	height: 250px;
	margin: 20px 50px;
	background-color:#fffdfa;
	border-radius: 20px;
  
	box-shadow: inset 10px 10px 10px rgb(22,35,69,.4), inset -10px -10px 10px rgb(22,35,69,.4 );
	font-size: 25px;
	align-items: center;
	margin-top: 50px;
	margin-left: 500px;
}
input
    {border: 2px solid #162345;
	font-family: 'Exo';
	margin:3px 5px;
	border-radius: 4px;
	height:30px;
	font-weight: 800;
}

label
{
	width:150px;
	display:inline-block;
	color:#162345;
	font-weight: 800;
}
input[type=radio]{

    margin-top: 20px;
	width:20px;
	display:inline-block;
	color:#162345;
}
p
{
	width:150px;
	display:inline-block;
	color:#162345;
	font-weight: 800;
}
h4,h1
{

	color:#162345;
	
}


.save
{
	width: 100px;
  height: 40px;
  cursor: pointer;
  font-family:'Exo';
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  float:center;
  color: white;
  border: 1px  #fffdfa solid;

  
  background: rgb(53, 65, 97);
  background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
    0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
    0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
    0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
  }
	


.save:hover
{
	background:#79ebe7;
	box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
	  0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
	  0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
	  0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
	  color: #162345;
}



.socialmedia:hover
{
	color:black;
	background-color: white;
}

li a:hover {
	text-decoration: underline;
	color:black;
}

small {
	font-size: 15px;
	margin-left: 200px;
	color:#162345;
	font-weight: 800;
}



.flexbox {

	display: flex;
	flex-wrap: nowrap;
  
  }

.fileupload input[type=file]{

	padding: 8px;
	border-radius:15px;
	font-size:20px;
	height:50px;
	width:300px;
	margin-bottom: 15px;
	text-align: center;
    margin-top: 10px;
	color:#162345;

	
}


.upload-btn {
	width: 100px;
	height: 40px;
	cursor: pointer;
	font-family:'Exo';
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	float:center;
	color: white;
	border: 1px  #fffdfa solid;
  
	
	background: rgb(53, 65, 97);
	background: radial-gradient(circle, rgb(66, 81, 119) 0%, rgb(6, 12, 27) 100%);
	box-shadow: 0 0.25rem 0.25rem 0 rgba(83, 83, 83, 0.5),
	  0 -0.25rem 1.5rem rgba(22, 35, 69, 1) inset,
	  0 0.1rem 0.1rem rgba(255, 255, 255, 1) inset,
	  0 0.1rem 0.1rem 0 rgba(239, 226, 186, 1) inset;
  }
  
  .upload-btn:hover
  {
	background:#79ebe7;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(248, 247, 247, 0.5),
    0 -0.25rem 1rem rgb(0,198,193,1 ) inset,
    0 0.2rem 0.2rem rgba(0,198,193, 1) inset,
    0 0.1rem 0.5rem 0 rgb(0,198,193,1 ) inset;
    color: #162345;
  }
  body {
	font-family: 'Exo';
	font-size: 22px;
	
  }

  .h2{
	border: none;
	outline: 0;
	display: inline-block;
	padding: 2px;
	color: #162345;
	background-color: #162345;
	text-align: center;
	cursor: pointer;
	
	height: 60px;
	font-size: 25px;
	font-family: "Exo";
  }
  .buttonnew {
	border: none;
  outline: 0;
  display: inline-block;
  padding: 2px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 5%;
  height: 20px;
  }
  .columnnew {
	float: left;
	width: 15%;
	margin-bottom: 16px;
	padding: 0 6px;
	position: relative;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
	margin-left: 16px;
	margin-right: 45px;
	background-size: cover;
  }
  .row {
	
	width: 12%;
	margin-bottom: 16px;
	padding: 0 6px;
	position: relative;
	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
	margin-right: 45px;
	background-size: cover;
	color: #162345;
  }
  .row img {
	margin-top: 5%;
	text-align: center;
  }
  
  .rownew {
	position: relative;
	margin-left: 30px;
  }

  



